body {
  padding: 0px;
  font-family: 'Inter', Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

h1 {
  margin: 30px 0px 30px 20px;
}
li{
  margin-left: 40px;
  margin-top: 10px;
  padding-left: 10px;
}
li::marker{
  color: turquoise;
}